---
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';
---

<BaseLayout title="Page Astro">
		<h1>Astro</h1>
		<p>Welcome to Astro!</p>
		<p>This is a simple page built with Astro.</p>
		
		<div class="flex justify-center align-center ">
		<Card Title="Card Title" Content="Card content goes here." />
		</div>

</BaseLayout>
