---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Page Astro">
		<h1>Astro</h1>
		<p>Welcome to Astro!</p>
		<p>This is a simple page built with Astro.</p>
		<div class="card border-2">
			<div class="card-container">
				<h2 class="card-title">Card Title</h2>
				<p class="card-content">Card content goes here.</p>
			</div>
		</div>
</BaseLayout>
